body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff; /* 캔버스 밖의 배경색 */
  overflow: hidden; /* 스크롤바 숨김 */
}